body {
    background-color: rgb(167, 167, 167);
}

.card {
    padding-top: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    align-items: center;
}

img {
    width: 50px;
    float: left;
    display: inline;
}

label {
    padding: 10 10 10 10px;
    white-space: pre;
}

input {
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: rgba(0, 0, 0, 0);
    border-bottom: 0.5px solid black;
}

.regProcess {
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkIcon {
    border-radius: 50%;
    width: fit-content;
    background-color: greenyellow;
    display: none;
}

.warning {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 12.124px solid rgb(255, 204, 62);
    border-top: 0;
    /* border-top: 12.124px solid rgb(255, 204, 62); */
}